{% extends 'layout.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Rendez-vous le <span class="red">{{ date }}</span> pour retrouver Doc !</h1>
        <a href="/" class="btn btn-primary">Home</a>
    </div>
{% endblock %}