{% extends 'layout.html.twig' %}

{% block content %}
    <div class="text-center shadow my-5">
        <h1>{{ timeTravel }}</h1>
        <a href="/" class="btn btn-primary mb-3">Home</a>
    </div>
{% endblock %}