@font-face {
    font-family: BackToTheFutur;
    src: url('/assets/font/BTTF.ttf');
}

body {
    background: url("/assets/images/back-to-the-future-delorean.jpg") no-repeat center fixed;
}

h1, h2, h3 {
    font-family: BackToTheFutur;
}

.shadow {
    background-color: white;
    opacity: 0.93;
}

span.red {
    color: red;
}

li {
    list-style-type: none;
}